@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.title {
  @apply text-5xl text-pink-600 font-bold  my-5;
}

.page {
  @apply flex flex-col items-center justify-center	min-w-full min-h-screen;
}

.button {
  @apply transition-all duration-500 border border-pink-400 bg-white rounded-lg p-2 hover:bg-pink-50;
}

.footer {
  @apply fixed bottom-0 right-0 text-sm m-2;
}
